.post-content {
  .feature-image {
    margin-bottom: 20px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .post-meta {
    padding-bottom: 15px;
  }
  .user-generated-content {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}