.talk-tile {
  margin-bottom: 25px;
  overflow: hidden;

  .talk-photo {
    position: relative;
    max-width: 100%;
    top: 0;
  }

  .talk-meta {
    text-transform: uppercase;
    font-size: 11px;
  }

  .talk-speaker-role {
    height: 40px;
  }

}
