ul.inline {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0 15px 0 0;
    padding: 0;
    display: inline;
  }
}

.uppercase {
  text-transform: uppercase;
}

.spacing-top {
  margin-top: 40px;
}

.table-cell {
  display: table-cell;
}

.table {
  display: table;
}