body.single-speaker {
  .social-twitter {
    position: relative;
    top: 7px;
  }
  .social-facebook {
  }
  .related-speaker-tile {
    padding-bottom: 10px;
    img {
      width: 100%;
    }
    .media-type {
      text-transform: uppercase;
      font-size: 11px;
    }
    .related-speaker-position {
      text-transform: uppercase;
      font-size: 11px;
    }
  }
  h6.speaker-caption {
	  margin-bottom: 0px;
  }
  .pull-right.speaker-thumbnail {
	  padding-left: 12px;
	  padding-bottom: 12px;
  }
}