table.event-listing {
  width: 100%;
  empty-cells: show;
  border-spacing: 0 20px;
  margin-top: -20px;
  border-collapse: separate;
  text-align: left;
  td {
    border-top: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    padding: 17px 15px 14px;
    position: relative;
    .button {
      margin: -10px 0 -10px 10px;
    }
    &:first-child {
      -webkit-border-radius: 5px 0 0 5px;
      -moz-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px;
      border-left: solid 1px #e5e5e5;
    }
  }
  .description {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    border-right: solid 1px #e5e5e5;
  }
  .time {
    color: #000;
    min-width: 85px;
  }
  .no-talks {
    td {
      background: #f6f6f6;
    }
    .description {
      color: #c2c2c2;
      font-size: 14px;
    }
  }
  tr {
    &:before {
      content: "";
      background: #e5e5e5;
      display: block;
      height: 20px;
      left: 35px;
      margin-top: -20px;
      position: relative;
      width: 3px;
      z-index: 100;
    }
  }

  tr {
    &:first-child {
      &:before {
        width: 0px;
      }
    }
  }



  //  tr:before {
  //    content: "";
  //    background: #e5e5e5;
  //    display: block;
  //    height: 20px;
  //    left: 35px;
  //    margin-top: -20px;
  //    position: relative;
  //    width: 3px;
  //    z-index: 100;
  //  }
  tr:first-child td:after {
    display: none;
  }
}

.none-description, .coffee-description, .party-description {
  float: left;
  position: relative;
}

.google-map-container {
  width: 270px;
  height: 270px;
}