body.page-template-default {
  h1.minor {
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 10px;
    line-height: 1.4;
  }
  section {
    header {
      border-bottom: solid 1px #e5e5e5;
      padding-bottom: 5px;
      margin-bottom: 20px;

    }
  }
  .partner-tile, .team-tile {
    img {
      width: 100%;
    }
  }
}