footer {
  box-shadow: 0px 500px 0px 500px $black;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 11px;
  color: #666666;

  .built-by {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 17px;
  }

  .web-partners {
    font-size: 12px;

    a {
      display: inline-block;
    }

    .ir {
      background: transparent url('../../images/sprite-logos.png') no-repeat left 0;
    }

    .jc-link {
      vertical-align: top;
      width: 123px;
      height: 42px;
    }

    .jc-link:hover {
      background-position: left -50px;
    }

    .twg-link {
      width: 126px;
      height: 30px;
      background-position: left -100px;
    }
    .twg-link:hover {
      background-position: left -130px;
    }

    span, img {
      vertical-align: middle;
    }
  }

  .legal {
    font-size: 11px;
  }

}