//-- Basic Reset ----------------------------------------------------------
nav.primary-nav, nav.primary-nav-secondary {
  ul, ul li {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
  }
  li a {
    color: lighten($dark-gray, 20);
    font-size: 16px;
    margin-right: 20px;
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}

//-- Main Navigation --------------------------------------------------------
nav.primary-nav {
  padding: 20px 0 0 0;
  ul li {
    display: inline;
    &:last-child {
	    border-left: 1px solid #333;
		padding-left: 18px;
    }
  }
  li.current-menu-item a, li.current_page_ancestor a {
    color: $white;
    font-weight: bold;
    padding: 5px 0 5px 0;
    border-bottom: 4px solid $red;
  }
}

//-- Secondary Navigation ---------------------------------------------------
.primary-nav-secondary-container {
  border-bottom: 1px solid darken($light-gray, 5);
}

nav.primary-nav-secondary {
  li {
    display: inline-block;
  }
  ul {
    display: inline-block;
  }
  ul.menu > li {
    padding: 20px 0;
  }
  ul{
    a {
      &:hover {
        color: $black;
      }
    }
    li.current-menu-item > a {
      font-weight: bold;
      color: $black;
      padding: 5px 0 5px 0;
      border-bottom: 4px solid darken($light-gray, 5);
    }
  }
}

//-- Mobile Navigation ------------------------------------------------------
@include respond-to(tablet-portrait) {
  nav.primary-nav {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0 -15px;
    z-index: 1000;
    .toggle {
      padding: 15px 20px;
      color: $white;
      background-color: $black;
      font-weight: bold;
      font-size: 18px;
      border-bottom: 1px solid lighten($black, 10);
      cursor: pointer;
    }
    ul {
      transition: all 0.2s ease-in-out;
      background-color: $black;
      max-height: 0px;
      overflow: hidden;
      li {
	      &:last-child {border-left:none; padding-left: 0;}
      }
    }
    &.mobile-visible {
      ul {
        /* max-height Being set by angular to provide smooth menu transition */
      }
    }
    li, li a {
      display: block;
      margin: 0;
      padding: 0;
    }
    li a {
      padding: 15px;
      border-bottom: 1px solid lighten($black, 10);
    }
    li.current-menu-item > a {
      font-weight: bold;
      padding: 15px;
      border-bottom: 0;
      border-left: 4px solid $red;
    }
  }
  nav.primary-nav-secondary {
	  ul {
		  li.current-menu-item>a {
			  border-bottom: none;
		  }
	  }
  }
}

@include respond-to(tablet-large-desktop) {
  nav.primary-nav {
    ul.menu[style] {
      max-height: 100px !important;
    }
  }
}